* {
  /* border: 2px solid black; */
}

.App {
  display: flex;
  justify-content: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 450px;
  margin: 200px ;
}

.todo-list__category {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.todo-list__input {
  display: flex;
  gap: 10px;
  padding: 7px;
}

button {
  width: 99%;
  font-size: 18px;
  text-transform: uppercase;
  padding: 7px;
  flex-grow: 1;
  text-align: center;
  border-radius: 7px;
  border: 2px solid rgb(46,100,172);
  background-color: white;
}

input {
  width: 67%;
  font-size: x-large;
  border-radius: 7px;
  border: 2px solid rgb(159,67,64);
}



.todo-list__button_todo_add {
  width: 30%;
  color: rgb(159,67,64);
  border: 2px solid rgb(159,67,64);
  background-color: rgb(246,203,202);
}